<nav>
  <ul class="nav">
    <% links.forEach((link) => { %>
      <li class="nav-link">
        <a href="<%= link.href %>" class="no-text-decor"><%= link.text %></a>
      </li>
    <% }) %>
  </ul>
</nav>