.games {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.games > li {
  width: 100%;
}

.game {
  display: block;
  border: none;
  border-radius: 10px;
  width: 100%;
  background-color: firebrick;
  color: white;
  padding: 1rem;
  font-size: 1.25rem;
  text-align: left;
}

.game-name {
  font-weight: bold;
  font-size: 1.5rem;
}

@media (min-width: 400px) {
  .games {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .games > li {
    width: auto;
  }

  .game {
    width: 320px;
  }
}
