.intro {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.heading {
  text-align: center;
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

@media (min-width: 400px) {
  .intro {
    width: 75ch;
    margin: 0 auto;
  }
}
